!!! 5
html
    head
        title TrendLines
        link(href="/assets/nv.d3.css", rel="stylesheet")

        script(src="/assets/jquery-1.10.2.min.js")
        script(src="/assets/d3.v3.js")
        script(src="/assets/fisheye.js")
        script(src="/assets/nv.d3.js")
        script(src="/assets/tooltip.js")
        script(src="/assets/moment-with-langs.min.js")
        script(src="/socket.io/socket.io.js")

        script(src="/assets/app.js")
    body
        #test1
            svg(style="height:500px")

