!!! 5
html
    head
        title TrendLines
        link(href="/assets/nv.d3.css", rel="stylesheet")
        link(href="/assets/semantic.css", rel="stylesheet")

        script(src="/assets/jquery-1.10.2.min.js")
        script(src="/assets/semantic.js")
        script(src="/assets/d3.v3.js")
        script(src="/assets/fisheye.js")
        script(src="/assets/nv.d3.js")
        script(src="/assets/tooltip.js")
        script(src="/assets/moment-with-langs.min.js")
        script(src="/socket.io/socket.io.js")

        script(src="/assets/app.js")
    body
        div
            label(for="client-name-text") Client:
            input#client-name-text(type="text", name="client", value="whirlpool")

            label(for="product-name-text") Product:
            input#product-name-text(type="text", name="product", value="WTW4950XW-NAR")

            button(onclick="loadProduct()") Load

        .ui.grid
            #test1.twelve.wide.column
                svg(style="height:500px")

            #detail.four.wide.column

            #test2.twelve.wide.column
                svg(style="height:500px")